<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SUMA!</title>
</head>
<body>
    <h1> ADD, Amigos! ADD!</h1>
    
    <form action="#" th:action="@{/calculator}" method="post" th:object="${numeros}">
        <label for="number1">Number 1:</label>
        <input type="text" th:field="*{number1}" id="number1" name="number1">
        <br>
        <label for="number2">Number 2:</label>
        <input type="text" th:field="*{number2}" id="number2" name="number2">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>